#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  height: 100%;
}

/* Increase border width on focus */
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-width: 0.25rem
}